body,html{
  color: black;
  background: #f8f8ff;
}
h1,h2{
  font-size: 18px;
  text-align: center;
}
h2{font-size: 16px;}
h3{font-size: 14px;}
h4{font-size: 12px;}
li{
  list-style: none;
  padding: 2px;
}
body div{
  background: #f5f5f5;
  margin-bottom: 25px;
  padding: 5px;
  display: none;
}
#header{
  display: block;
  margin: 0;
}
#trips-list{
  display: block;
}